<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="queryResult">
  <ion-item>
    <ion-icon aria-hidden="true" name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ queryResult.document_name }}
        <span class="date" *ngIf="queryResult.authors">
          <ion-note>{{ queryResult.authors.join(', ') }}</ion-note>
        </span>
      </h2>
      <h3>To: <ion-note>Me</ion-note></h3>
    </ion-label>
  </ion-item>

  <div class="ion-padding">
    <h1>{{ queryResult.categorie }}</h1>
    <p>
      {{document}}
    </p>
  </div>
</ion-content>
