.home__header {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.home__toolbar {
  --background: var(--ion-color-custom-darkblue);
}

.home__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.home__logo img {
  max-width: 100%;
  height: 120px;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__content {
  --background: rgb(2,8,21);
  --background: linear-gradient(180deg, rgba(2,8,21,1) 40%, rgba(22,84,131,1) 50%, rgba(68,154,168,1) 60%, rgba(103,210,199,1) 70%, rgba(253,252,240,1) 85%);
}

.home__searchbar {
  background: unset;
  --background: none;
  --background: var(--ion-color-custom-book);
  color: var(--ion-color-custom-red);
  position: relative;
  padding: 0;
  --border-radius: 8px;
}

.home__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.home__row {
  width: 75%;
}

.home__background {
  background-image: url("../../assets/Background Image.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.home__searchcol {
  padding: 0;
  margin: 0;
}

#searchButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  min-height: 80px;
  --padding: 0;
  --border-radius: 0;
  --border-radius: 0px 8px 8px 0px;
  --background: var(--ion-color-custom-red);
  font-size: 1.2rem;
}