.fullheight {
    height: 100%;
  }
  
  .xc {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }
  
  @media only screen and (min-width: 600px){
  ion-searchbar{
    scale:1.5;
    max-width: 50%;
  }
}

ion-searchbar{
margin-bottom: 10px;
}
