<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Harry Potter Wiki </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div
    class="fullheight xc"
    style="max-width: 50%; margin-left: auto; margin-right: auto"
  >
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <ion-searchbar
            [(ngModel)]="searchText"
            search-icon="search-circle"
            show-clear-button="always"
            placeholder="Search for magic"
            #searchBar
          ></ion-searchbar>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="onSearchClicked()">Suche</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
