<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Harry Potter Wiki </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="fullheight xc" style="margin-left: auto; margin-right: auto">
    <ion-searchbar
      [(ngModel)]="searchText"
      search-icon="search-circle"
      show-clear-button="always"
      placeholder="Search for magic"
      #searchBar
      (keyup.enter)="onSearchClicked()"
    ></ion-searchbar>

    <ion-button
      (click)="onSearchClicked()"
      [attr.size]="getWindowWidth() >=600 ? 'large' : 'default'"
      #searchButton
      >Suche</ion-button
    >
  </div>
</ion-content>
