<ion-content>
  <ion-grid>
    <ion-row class="error-page__center">
      <ion-col size="8">
        <img class="error-page__text" src="../../assets/Error Page Text.svg" alt="Error Text">
      </ion-col>
    </ion-row>
    <ion-row class="error-page__center">
      <ion-col size="8">
        <img class="error-page__text" src="../../assets/Error Page Error.svg" alt="Error Text">
      </ion-col>
    </ion-row>
    <ion-row class="error-page__center">
      <ion-col size="8">
        <img class="error-page__image" src="../../assets/Error Page Image.svg" alt="Error Image">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

