<ion-item *ngIf="queryResponseResult" [routerLink]="'/wiki/' + queryResponseResult.id + '/' + queryResponseResult.text" [detail]="false" class="message__item">
  <div slot="start" [class]="!queryResponseResult.title ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <ion-row class="message-component__header">
      <h1>
        {{ queryResponseResult.title }}
      </h1>
      <span class="date">
        <ion-note>{{ queryResponseResult.id }}</ion-note>
        <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </ion-row>
    <ion-row class="message-component__category">
      <h3>{{ queryResponseResult.title }}</h3>
    </ion-row>
    <ion-row class="message-component__passage">
      <p>
        {{queryResponseResult.text.join(', ')}}
      </p>
    </ion-row>
  </ion-label>
</ion-item>
