<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="wikiPage">
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>{{ wikiPage.title }}</h2>
    </ion-label>
  </ion-item>

  <div class="ion-padding" *ngIf="wikiPage">
      <ng-container *ngFor="let passages of wikiPage.text;">
        <ng-container *ngIf="passages.type === ParsedDocumentTextTypes.heading">
          <h2 *ngIf="passages.depth === 0"> {{ passages.content }} </h2>
          <h3 *ngIf="passages.depth === 1"> {{ passages.content }} </h3>
          <h4 *ngIf="passages.depth === 2"> {{ passages.content }} </h4>
          <h5 *ngIf="passages.depth === 3"> {{ passages.content }} </h5>
        </ng-container>
        <ng-container *ngIf="passages.type === ParsedDocumentTextTypes.normal_text_passage">
          <p>{{passages.content}}</p>
        </ng-container>
    </ng-container>
  </div>
</ion-content>

