.fullheight {
    height: 100%;
}

.wiki__header {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.wiki__toolbar {
    --background: var(--ion-color-custom-darkblue);
}

.wiki__content {
    --background: var(--ion-color-custom-darkblue);
}

.wiki__grid {
    padding: 2rem;
}

.wiki__item {
    --background: var(--ion-color-custom-book);
    --color: var(--ion-color-custom-red);
    width: 100%;
    border-radius: 8px;
}

.wiki__label {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: bold;
    }
}

.wiki__wrapper--label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.wiki__wrapper--image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.wiki__background {
    justify-content: center;

    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        position: relative;
        border-radius: 100%;
        background: var(--ion-color-custom-book);
        overflow: hidden;
    }
}

h2,
h3,
h4,
h5 {
    color: var(--ion-color-custom-owl);
}

p {
    color: var(--ion-color-custom-book);
}