<ion-header [translucent]="true" class="wiki__header">
  <ion-toolbar class="wiki__toolbar">
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="wiki__content" [fullscreen]="true" *ngIf="wikiPage">
  <ion-grid class="wiki__grid">
    <ion-row>
      <ion-col size="8" class=" ion-padding wiki__wrapper--label">
        <ion-item class="wiki__item">
          <ion-label class="ion-text-wrap wiki__label">
            <h1>{{ wikiPage.title }}</h1>
          </ion-label>
        </ion-item>
        <p id="#0">{{wikiPage.text[0].content}}</p>
      </ion-col>
      <ion-col size="4" class="wiki__wrapper--image">
        <img src="../../assets/Wiki.svg" alt="Wiki Image" />
      </ion-col>
    </ion-row>

    <ion-row class="wiki__row--background">
      <ion-col class="ion-padding" *ngIf="wikiPage">
        <ng-container *ngFor="let passages of wikiPage.text.slice(1), let i = index;">
          <ng-container *ngIf="passages.type === ParsedDocumentTextTypes.heading">
            <h2 *ngIf="passages.depth === 0"> {{ passages.content }} </h2>
            <h3 *ngIf="passages.depth === 1"> {{ passages.content }} </h3>
            <h4 *ngIf="passages.depth === 2"> {{ passages.content }} </h4>
            <h5 *ngIf="passages.depth === 3"> {{ passages.content }} </h5>
          </ng-container>
          <ng-container *ngIf="passages.type === ParsedDocumentTextTypes.normal_text_passage">
            <p id="#{{ i }}">{{passages.content}}</p>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row class="wiki__background">
      <ion-col size="6">
        <img src="../../assets/Wiki Background.svg" alt="Wiki Background Image" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
